{% set pageClass = "page-element" %}
{% set pageTitle = "Elements page" %}

{% extends "partials/_layout.njk" %}

{% block content %}

<div class="section pt-5 pb-5 pt-md-10 pb-md-10">
  <div class="container">

    <h1 class="text-mega mb-10">Styleguide</h1>

    <h3 class="text-headline mb-3">Colors</h3>

    <div class="row mb-4">
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-primary text-white text-center">Primary</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-secondary text-white text-center">Secondary</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-success text-white text-center">Success</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-danger text-white text-center">Danger</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-warning text-white text-center ">Warning</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-info text-white text-center">Info</div>
      </div>
    </div>

    <h3 class="text-headline mb-3">Typography</h3>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <h1 class="text-mega mr-4">Text mega</h1>
        <p class="text-light">32px / 60px</p>
      </div>
      <p class="small mt-2 text-light">Used for projects and page title</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <h2 class="text-display mr-4">Text display</h2>
        <p class="text-light">32px / 45px</p>
      </div>
      <p class="small mt-2 text-light">Used for home page title and section titles</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <h3 class="text-headline mr-4">Text headline</h3>
        <p class="text-light">26px / 32px</p>
      </div>
      <p class="small mt-2 text-light">Used for home page subtitle only</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <h4 class="text-title mr-4">Text title</h4>
        <p class="text-light">20px / 32px</p>
      </div>
      <p class="small mt-2 text-light">Used for studio page body texts</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <h5 class="text-subheader mr-4">Text subheader</h5>
        <p class="text-light">32px / 32px</p>
      </div>
      <p class="small mt-2 text-light">Used for project titles and in studio page as cycles title</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <p class="mr-4">Text body</p>
        <p class="text-light">20px / 20px</p>
      </div>
      <p class="small mt-2 text-light">Used for body text as project descriptions</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <p class="small mr-4">Text small</p>
        <p class="text-light">16px / 16px</p>
      </div>
      <p class="small mt-2 text-light">Used for body text as project descriptions</p>
    </div>

    <div class="mb-4">
      <div class="d-flex align-items-center">
        <p class="text-micro mr-4">Text micro</p>
        <p class="text-light">14px / 14px</p>
      </div>
      <p class="small mt-2 text-light">Used for body text as project descriptions</p>
    </div>

    <a class="link-primary" href="/">Back to home</a>
  </div>
</div>

{% endblock %}
