{% set pageClass = "page-grid" %}
{% set pageTitle = "Grid page" %}

{% extends "partials/_layout.njk" %}

{% block content %}

  <div class="container">
    <h1 class="pt-5 mb-5">Grid</h1>

    <p class="mb-3">Grid width - 1128px</p>

    <div class="row mb-4">
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-4">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-6">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
      <div class="col-12 col-md-6">
        <p class="bg-success text-center text-dark p-2">Col</p>
      </div>
    </div>

    <a class="text-link" href="/">Back to home</a>
  </div>

{% endblock %}
