{% set pageClass = "page-grid" %}
{% set pageTitle = "Grid page" %}

{% extends "partials/_layout.njk" %}

{% block content %}

  <h1 class="pt-5 mb-5">Grid</h1>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
      <p class="bg-success text-center text-dark p-2">One of twelve</p>
    </div>
  </div>

  <a class="btn btn-link" href="/">Back to home</a>

{% endblock %}
