{% set pageCanonical = "" %}
{% set pageClass = "page-default" %}
{% set pageTitle = "DeFi App Starter" %}
{% set pageDescription = "" %}
{% set pageKeywords = "" %}

{% extends "partials/_layout.njk" %}

{% block content %}

<section class="section py-6 py-md-10 py-mg-15">
  <div class="container">
    <div>
      <h1 class="text-mega">Welcome to DeFi App Starter!</h1>
    </div>

    <div class="mt-4">
      <h2 class="text-subheader d-1">Made with 💜 by <a href="https://www.dobreff.net/" class="link-primary" target="_blank" rel="noopener">Martin Dobrev</a></h2>
    </div>

    <div class="row mt-5 mt-lg-7">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-4">
            <label for="" class="text-label">Inital X amount</label>
            <input id="number-initial-x" type="number" class="form-control js-update-k" value="100">
          </div>
          <div class="col-4">
            <label for="" class="text-label">Inital Y amount</label>
            <input id="number-initial-y" type="number" class="form-control js-update-k" value="10000">
          </div>
          <div class="col-4">
            <label for="" class="text-label">K</label>
            <input id="number-k" type="number" class="form-control" value="">
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-4">
            <label for="" class="text-label">X = <span class="price-tag" id="price-x"></span> Y</label>
            <input id="number-x" type="number" class="form-control js-update-formula">
          </div>
          <div class="col-4">
            <label for="" class="text-label">Y = <span class="price-tag" id="price-y"></span> X</label>
            <input id="number-y" type="number" class="form-control js-update-formula">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}
