{% set pageCanonical = "" %}
{% set pageClass = "page-default" %}
{% set pageTitle = "DeFi App Starter" %}
{% set pageDescription = "" %}
{% set pageKeywords = "" %}

{% extends "partials/_layout.njk" %}

{% block content %}

<section class="section py-6 py-md-10 py-mg-15">
  <div class="container">
    <div>
      <h1 class="text-mega">Welcome to DeFi App Starter!</h1>
    </div>

    <div class="mt-4">
      <h2 class="text-subheader d-1">Made with 💜 by <a href="https://www.dobreff.net/" class="link-primary" target="_blank" rel="noopener">Martin Dobrev</a></h2>
    </div>

  </div>
</section>

{% endblock %}
