{% set pageClass = "page-home" %}
{% set pageTitle = "Home page" %}

{% extends "partials/_layout.njk" %}

{% block content %}

<div class="section pt-5 pb-5 pt-md-10 pb-md-10">
  <div class="container">
    <h1 class="text-mega mb-4">Welcome to Bootstrap project boilerplate!</h1>
    <h2 class="text-subheader mb-4">Made with 💜 by <a href="https://stan.bg/" class="link-primary" target="_blank" rel="noopener">StanVision</a></h2>

    <ul>
      <li><a class="link-primary" href="elements.html">&raquo; Styleguide</a></li>
      <li><a class="link-primary" href="grid.html">&raquo; Grid</a></li>
    </ul>
  </div>
</div>

<div class="section pt-5 pb-5 pt-md-10 pb-md-10">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

{% endblock %}
