{% set pageClass = "page-element" %}
{% set pageTitle = "Styleguide page" %}

{% extends "partials/_layout.njk" %}

{% block content %}

<div class="section pt-5 pb-5 pt-md-10 pb-md-10">
  <div class="container">

    <h1 class="text-mega">Styleguide</h1>

    <h2 class="text-display mt-10">Grid</h2>
    <hr class="mt-3 mb-6">

    <h3 class="text-headline mb-4">Grid width - 1128px</h3>

    <div class="row mb-4">
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-2 col-md-1">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-12 col-md-3">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-4">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-12 col-md-4">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 col-md-6">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
      <div class="col-12 col-md-6">
        <p class="bg-success text-center text-white p-2" style="border-radius: 2px;">Col</p>
      </div>
    </div>

    <h2 class="text-display mt-10">Colors</h2>
    <hr class="mt-3 mb-6">

    <h3 class="text-headline mb-4">Main</h3>

    <div class="row mb-4">
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-primary text-white text-center">Primary</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-secondary text-white text-center">Secondary</div>
      </div>
    </div>

    <h3 class="text-headline mb-4">System</h3>

    <div class="row mb-4">
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-success text-white text-center">Success</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-danger text-white text-center">Danger</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-warning text-white text-center ">Warning</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-info text-white text-center">Info</div>
      </div>
    </div>

    <h3 class="text-headline mb-4">Grays</h3>

    <div class="row mb-4">
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-slate text-white text-center">Slate</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-grey text-white text-center">Grey</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-steel text-center">Steel</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-pale text-center">Pale</div>
      </div>
      <div class="col-12 col-md-2">
        <div style="height: 64px; line-height: 64px; border-radius: 2px;" class="mb-2 bg-snow text-center">Snow</div>
      </div>
    </div>

    <h2 class="text-display mt-10">Typography</h2>
    <hr class="mt-3 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-9">
          <code>.text-hero</code>
          <h1 class="text-hero mt-3">The quick brown fox jumps over the lazy dog</h1>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-6">
          <code>.text-mega</code>
          <h2 class="text-mega mt-3">The quick brown fox jumps over the lazy dog</h2>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-5">
          <code>.text-display</code>
          <h3 class="text-display mt-3">The quick brown fox jumps over the lazy dog</h3>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-4">
          <code>.text-headline</code>
          <h4 class="text-headline mt-3">The quick brown fox jumps over the lazy dog</h4>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-3">
          <code>.text-title</code>
          <h5 class="text-title mt-3">The quick brown fox jumps over the lazy dog</h5>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-3">
          <code>.text-subheader</code>
          <h6 class="text-subheader mt-3">The quick brown fox jumps over the lazy dog</h6>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-3">
          <code>.lead</code>
          <p class="mt-3 lead">The quick brown fox jumps over the lazy dog</p>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-3">
          <code></code>
          <p class="mt-3">The quick brown fox jumps over the lazy dog</p>
        </div>
      </div>
    </div>

    <hr class="mt-6 mb-6">

    <div class="mb-4">
      <div class="row">
        <div class="col-md-2">
          <code>.small</code>
          <p class="small mt-3">The quick brown fox jumps over the lazy dog</p>
        </div>
      </div>
    </div>

    <h2 class="text-display mt-10">UI Elements</h2>
    <hr class="mt-3 mb-6">

    <h3 class="text-headline mb-4">Buttons</h3>

    <div class="row mb-4">
      <div class="col-12 mb-4">
        <button type="button" class="btn btn-primary btn-lg mr-3">Primary large</button>
        <button type="button" class="btn btn-secondary btn-lg mr-3">Secondary large</button>
      </div>
      <div class="col-12 mb-4">
        <button type="button" class="btn btn-primary mr-3">Primary</button>
        <button type="button" class="btn btn-secondary mr-3">Secondary</button>
      </div>
      <div class="col-12 mb-4">
        <button type="button" class="btn btn-primary btn-sm mr-3">Primary small</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3">Secondary small</button>
      </div>
      <div class="col-12 mb-4">
        <button type="button" class="btn btn-outline-primary mr-3">Primary outline</button>
        <button type="button" class="btn btn-outline-secondary mr-3">Secondary outline</button>
      </div>
      <div class="col-12 mb-4">
        <a href="#" class="btn btn-primary active" role="button" aria-pressed="true">Primary active</a>
        <a href="#" class="btn btn-secondary active" role="button" aria-pressed="true">Secodary active</a>
      </div>
      <div class="col-12 mb-4">
        <button type="button" class="btn btn-primary" disabled>Primary disabled</button>
        <button type="button" class="btn btn-secondary" disabled>Secondary disabled</button>
      </div>
    </div>

    <h3 class="text-headline mb-4">Forms</h3>

    <div class="row mb-4">
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Default input</label>
          <input type="email" class="form-control" placeholder="name@example.com">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Default input invalid</label>
          <input type="email" class="form-control is-invalid" placeholder="name@example.com">
          <div class="invalid-feedback">
            Invalid e-mail.
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Default input disabled</label>
          <input type="email" class="form-control" disabled placeholder="name@example.com">
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-3">
        <div class="form-group mb-5 position-relative">
          <input type="email" class="form-control floating-form-control" required>
          <label class="floating-label">Floating input</label>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-5 position-relative">
          <input type="email" class="form-control floating-form-control is-invalid" required>
          <label class="floating-label">Floating input invalid</label>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Custom select</label>
          <div class="custom-select-wrapper">
            <select class="custom-select form-control">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Custom select invalid</label>
          <div class="custom-select-wrapper">
            <select class="custom-select form-control is-invalid">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
              <option value="4">Option 4</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Custom checkbox</label>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Custom checkbox invalid</label>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input is-invalid" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Custom radios</label>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group mb-5">
          <label>Custom radios invalid</label>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="customRadio1" class="custom-control-input is-invalid">
            <label class="custom-control-label" for="customRadio3">Toggle this custom radio</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio4" name="customRadio1" class="custom-control-input is-invalid">
            <label class="custom-control-label" for="customRadio4">Or toggle this other custom radio</label>
          </div>
        </div>
      </div>
    </div>

    <a class="link-primary" href="/">Back to home</a>
  </div>
</div>

{% endblock %}
