<footer class="section pt-5 pb-5">
  <div class="container">
    <div class="mb-3 d-flex justify-content-center">
      <div class="text-center">
        <a href="#" class="icon-social my-2">
          <i class="fab fa-facebook"></i>
        </a>

        <a href="#" class="icon-social my-2">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="#" class="icon-social my-2">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
