<footer class="section pt-5 pb-5">
  <div class="container">
    <div class="text-center text-md-left">
      <div class="mb-3 d-md-flex justify-content-between align-items-center">
        <div class="mb-5 mb-md-0">
          <a href="#" class="icon-social">
            <i class="fab fa-facebook"></i>
          </a>

          <a href="#" class="icon-social">
            <i class="fab fa-linkedin"></i>
          </a>

          <a href="#" class="icon-social">
            <i class="fab fa-twitter"></i>
          </a>
        </div>

        <div class="mb-5 mb-md-0">
          <a href="#" class="link-primary text-small">Sitemap</a>
          <span class="text-grey text-small ml-2 mr-2">|</span>
          <a href="cookie-policy" class="link-primary text-small">Cookie policy</a>
        </div>

        <p class="text-small text-grey mb-5 d-md-none">&copy; 2019</p>

        <div>

        </div>
      </div>

      <p class="text-small text-center text-grey d-none d-md-block">&copy; 2019</p>
    </div>
  </div>
</footer>
