<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ meta.title }} - {{ pageTitle }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="author" content="{{ meta.author }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ meta.favicon }}">

    <link rel="preload" href="fonts/googlesans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/googlesans-medium-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/googlesans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>

    {% for font in fonts %}
    <link href="{{ font }}" rel="stylesheet">
    {% endfor %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/style.css">
</head>

<body class="{{ pageClass }}">

  {% block content %}
  {% endblock %}

  <script src="js/yall.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
