<header class="container-sticky">
  <div class="container-menu d-lg-flex justify-content-between align-items-center">
    <div class="container-menu-device d-flex justify-content-between align-items-center">
      <!-- Logo -->
      <a href="index.html" class="logo"></a>
      <!-- Logo -->

      <!-- Menu icons -->
      <span class="menu-icon js-toggle-menu"></span>
      <!-- Menu icons -->
    </div>

    <!-- Main menu -->
    <ul class="menu-main">
      <li>
        <a class="text-menu-main" href="about">Menu Item</a>
      </li>
      <li class="is-hover-sub">
        <a class="text-menu-main is-toggle-sub js-toggle-sub" href="#">Menu Item Dropdown</a>
        <ul class="menu-sub">
          <li>
            <a class="text-menu-main is-sub" href="#">Menu Item Sub</a>
          </li>
          <li>
            <a class="text-menu-main is-sub" href="#">Menu Item Sub</a>
          </li>
          <li>
            <a class="text-menu-main is-sub" href="#">Menu Item Sub</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="text-menu-main" href="contact">Contact</a>
      </li>
    </ul>
    <!-- Main menu -->
  </div>
</header>
