// Base & resets
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

strong {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// Containers
.container {
  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }
}

// Sections
.section {
  overflow: hidden;
}
