// Buttons

// Tables
.cell-numeric {
  font-variant-numeric: tabular-nums;
}

// Forms
.form-row {
  margin-right: -12px;
  margin-left: -12px;

  > .col,
  > [class*="col-"] {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.form-control {
  &.is-invalid {
    &:focus {
      box-shadow: 0 0 0 1px $danger;
    }
  }
}

// Custom controls
.floating-form-control {
  padding-top: 22px;
  padding-bottom: 14px;
}

.floating-label {
  position: absolute;
  top: 50%;
  left: $input-padding-x;
  margin-bottom: 0;
  color: $grey;
  font-size: 1rem;
  pointer-events: none;

  transform: translateY(-50%);
  transform-origin: 0;
  transition: transform 0.2s;
}

.floating-form-control:focus + .floating-label,
.floating-form-control:valid + .floating-label {
  color: $grey;
  transform: scale(0.75) translateY(-160%);
}

.custom-select-wrapper {
  position: relative;

  .custom-select {
    background-image: none;
  }

  &:after {
    @include fontAwesome();
    content: "\f078";
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: $grey;
  }
}

.custom-control-label {
  cursor: pointer;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px $primary;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px $danger;
}
