// Colors
$c-black:                   #000;
$c-dark:                    #181821;
$c-gray-darker:             #2d2d35;
$c-gray-dark:               #8f8f9b;
$c-gray:                    #bfbfbf;
$c-white:                   #fff;

$c-yellow:                  #fbb914;
$c-blue:                    #356b88;
$c-purple:                  #486094;
$c-red:                     #ff6060;
$c-aqua:                    #2cd595;

$c-label-red:               #e44260;
$c-label-orange:            #fd915a;
$c-label-green:             #00b9ae;
$c-label-gray:              #878787;
$c-label-gray-dark:         #626262;

// Font sizes
$fs-heading:                 46px;
$fs-heading-device:          20px;
$fs-title:                   25px;
$fs-lead:                    17px;
$fs-body:                    15px;
$fs-small:                   14px;
$fs-tiny:                    12px;

$fs-label-title:             16px;
$fs-label-text-large:        25px;
$fs-label-text:              13px;
