// Colors 
$azul: #106cea;
$bright-sky-blue: #00baff;
$medium-pink: #ef4687;
$aquamarine: #00dea6;
$iris: #5e47b1;

$colors: (
    azul: $azul,
    bright-sky-blue: $bright-sky-blue,
    medium-pink: $medium-pink,
    aquamarine: $aquamarine,
    iris: $iris
);

$primary: $azul;
$secondary: $bright-sky-blue;
$success: $aquamarine;
$danger: $medium-pink;
$info: $iris;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    danger: $danger,
    info: $info
);